{% extends 'base.html'%}
{% load static %}
{% block isinya %}
<section id="isi">
    <h1 align="center">Produk Kami</h1>
    <div class="container">
      <center>
        <hr style="height:5px;width:75%;color:rgb(63, 144, 138);background-color:rgb(164, 45, 45);">
      </center>
      <h2 class="text-center">Produk Terbaru</h2>
      <div class="card-group">
        <div class="card" data-aos="fade-up">
          <img src="{% static 'img/1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Wanita</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-center">
          <img src="{% static 'img/3.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pria</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card" data-aos="zoom-in-up">
          <img src="{% static 'img/2.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Anak-anak</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card" data-aos="fade-up">
          <img src="{% static 'img/4.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Wanita</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-center">
          <img src="{% static 'img/5.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pria</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card" data-aos="zoom-in-up">
          <img src="{% static 'img/6.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Anak-anak</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card" data-aos="fade-up">
          <img src="{% static 'img/7.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Wanita</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-center">
          <img src="{% static 'img/8.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pria</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card" data-aos="zoom-in-up">
          <img src="{% static 'img/9.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Anak-anak</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}